nav[role="navigation"]{
    text-align: center;
    a {
        border-radius: 2px;
        border: 1px solid var(--border-color-darker);
        background-color: var(--bg-secondary);
        color: var(--bg);
        text-decoration: none;
        padding: 0.5vw;
        
    }

    .active{
        background-color: var(--body-color);
        font-weight: 900;
    }
}