.tags {
  width: 50%;
  float: left;
  z-index: 99;
  position: absolute;

  .tag {
    width: fit-content;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.66em;
    white-space: nowrap;
    border: 3px solid var(--border-color);
    border-radius: 2rem;
    padding: 0.2rem 0.85rem 0.25rem;
    display: inline-block;
    margin-right: 1vw;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    margin: 5px 5px;
  }

  .tag:hover {
    border: 3px solid var(--hightlight-color);
  }
}
