:root {
    --header-height: 58px;
    --dark-bg: #0d2538;
    --code-bg: #232946;
    --select-color: rgba(212, 53, 159, .2);
    --mark-color: #fff8ec;
    --border-radius: 5px;
    --success-bg: #5bb19640;
    --space: 25px;
    --space-x2: 50px;
    --code-color: #fdf9f3;
   

    --body-color: #b8c1ec;
    --bg: #232946;
    --bg-secondary: #d4d8f0;
    --bg-teritary: #232946;
    --bg-transparent: rgb(22, 25, 43);
    --border-color: #121629;
    --hightlight-color: #b8c1ec;
    --border-color-darker: rgb(20, 42, 83);
    --inline-code-text: #e24cb2;
    --inline-code-bg: rgba(212, 53, 159, .1);
    --primary-color: #5d6488;
    --primary-color-dark: #02b9f3;
    --glow: 2px 2px 15px 0 #071521;
    --light-bg:#cdd1d4;
  
    @media screen and (max-width: 550px) {
      --space: 20px;
      --space-x2: 20px;
    }
  }